<%= render 'pages/home' unless user_signed_in? %>

<div class="btn-group">
  <%= link_to new_board_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus-sign"></span>
    New Board
  <% end %>
</div>

<div class="pins-row">
  <div id="pins" class="transitions-enabled">
    <% @boards.each do |board| %>
      <div class="box col-lg-20 col-md-3 col-sm-4 col-xs-6">
        <div class="box-inner">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4><%= link_to board.name, board %></h4>
            </div>
          <% if board.pins.first.present? %>
            <%= link_to image_tag(board.pins.first.image.url(:medium)), board %>
          <% else %>
            <div class="panel-body text-center text-danger">
              <span class="glyphicon glyphicon-exclamation-sign"></span>
              <br>
              <i>This board is empty</i>
            </div>
          <% end %>
            <div class="panel-body">
              <p><%= board.description %></p>
              <br>
              <strong>Created By:</strong>
              <br>
              <%= board.user.name %>
            </div>
            <div class="panel-footer">
              <% if board.user != current_user && user_signed_in? %>

                <%= button_to likes_path(likeable_type: :board, likeable_id: board.id), method: :post, class: 'btn btn-default', remote: true do %>
                  <span class="glyphicon glyphicon-heart"></span>
                  Like
                <% end %>

              <% elsif board.user == current_user %>
                <div class="btn-group btn-group-justified">
                  <%= link_to edit_board_path(board), class: 'btn btn-default' do %>
                    <span class="glyphicon glyphicon-edit"></span>
                    Edit
                  <% end %>
                  <%= link_to board, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary' do %>
                    <span class="glyphicon glyphicon-trash"></span>
                    Delete
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="text-center">
   <%= will_paginate @boards, renderer: BootstrapPagination::Rails %>
</div>
